body {
  font: 15px/1.5 Arial, Helvatica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  height: 100%;
}

/* Global */
.pagecontainer {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

/* header */
header {
  background: #35424a;
  color: #ffffff;
  padding: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #headerbranding{
  float: left;
}

header #headerbranding h2{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .headerhighlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/* Live view*/

#live {
  min-height: 90vh;
  background: url('../img/pubg-bg.jpg') repeat -200px -100px;
  color: #ffffff;
  padding: 20px;
}

.videoWrapper {
  position: sticky;
  width: 100%;
  padding-bottom: calc(50%);
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* footer */
footer{
  padding: 10px;
  margin-top: 10px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}

.card {
  color: white;
  padding: 1rem;
  height: 4rem;
}

.card iframe{
  color: white;
  padding: 1rem;
  height: 4rem;
}


.cards {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 5rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

.videomodal .modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }
.videomodal .modal-body {
  position:relative;
  padding:0px;
}
.videomodal .close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}
.cursor-pointer{
    cursor: pointer;
}

.ex1.image {
    position: relative;
    display: inline-block;
    margin-left: 50px;
}

.image a {
    display: inline-block;
    position: relative;
}

/* Gets rid of the extra white space that follows an inline element*/
.image img {
    vertical-align: bottom;
}

/* Creates the play arrow motif */
.image .play {
    position:absolute;
    width:50px;
    height:50px;
    border:3px solid #fff;
    top:50%;
    right:50%;
    margin:-28px;
    border-radius:30px;
    box-shadow:1px 1px 2px rgba(0,0,0,.2);
    pointer-events: none;
}
.image .play span {
    position:absolute;
    width:0;
    height:0;
    border-top:12px solid transparent;
    border-bottom:12px solid transparent;
    border-left:20px solid #fff;
    top:10px;
    left:15px;
    pointer-events: none;
}

/* Extra style for demo */
.image {
    margin-bottom: 2.00em;
    outline: 1px solid blue;
}

a {
  color: #47FF02;
}
